$vermelho: #D0021B;
$preto: #0B0D09;
$amarelo: #F8E507;
$cinza: #DDDFDF;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px "Helvetica Neue", Arial, sans-serif;
    color: $preto;
    background-color: $cinza;
}


